<h2>{{'menu.stats'| translate}}</h2>
<app-loader *ngIf="block" [color]="color" [mode]="mode" [value]="value" [diameter]="48">
</app-loader>
<mat-card style="display: flex; align-items: center; justify-content: space-evenly">
    <div style="display: flex; flex-direction: column; align-items: center">
        <h2>{{'supplier.title' | translate}}</h2>
        <h4 style="color: gray">{{'buy.placeholder.goldIn' | translate}}</h4>
    </div>
    <div>
        <canvas id="totalBuy" width="350" height="350"></canvas>
    </div>
    <div>
        <canvas id="productBuy" width="350" height="350"></canvas>
    </div>
</mat-card>
<mat-card style="display: flex; align-items: center; justify-content: space-evenly">
    <div style="display: flex; flex-direction: column; align-items: center">
        <h2>{{'client.title' | translate}}</h2>
        <h4 style="color: gray">{{'transaction.placeholder.goldOut' | translate}}</h4>
    </div>
    <div>
        <canvas id="total" width="350" height="350"></canvas>
    </div>
    <div>
        <canvas id="product" width="350" height="350"></canvas>
    </div>
</mat-card>
